<!DOCTYPE html>
<html ng-app="userProfiles">

<head>
  <title>User Profiles</title>
  <link rel="stylesheet" href="./dist/bundle.css">
</head>

<body ng-controller="mainCtrl">
  <span>Total Pages: {{numPages}}</span>
  <button ng-click="previous()" ng-disabled="currentPage <= 1">previous</button>
  <button ng-click="next()" ng-disabled="currentPage >= maxPages">next</button>
  <div ng-repeat="user in users">
    <h1>{{user.first_name}} {{user.last_name}}</h1>
    <img src="{{user.avatar}}">
    <hr>
  </div>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.0/angular.js"></script>
  <script src="./dist/scripts/bundle.js"></script>
</body>

</html>